* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(29, 29, 29);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
}
.container__menu-bar img {
  width: 30px; 
  height: 30px; 
  align-items: center;
  margin-right: 5px;
}
